<%= form_for @report, :url => reports_path, :method=>'post',  multipart: true do |f|  %>
    <h2>Agregar nuevo reporte</h2>
    <div class="form-group">

        <%= f.label :nombre, 'Nombre' %>
        <%= f.text_field :nombre, :class =>'form-control'  %>

    </div>


    <div class="form-group">

    <%= f.file_field :file %>

    </div>



    <%= f.submit 'Guardar', :class=> 'btn btn-info ' %>
    <%=  link_to 'Cancelar', reports_path, :class=>'btn btn-warning' %>

<% end %>